/*
css gradients:
https://css-tricks.com/css3-gradients/

also see:
https://css-tricks.com/couple-takes-sticky-footer/
for sticky footer

or
https://stackoverflow.com/questions/13609006/floating-footer-always-on-the-bottom-and-visible
for fixed
*/
html,body{
    height: 100%;
}
body {
    font-family: arial,sans serif;
    background-color: black;
    padding-bottom: 80px;
}

h1 {
    color: #c00000;
    font-size: 2.8em;
}
/* 768 */
@media screen and (min-width: 48em){
    /* get rid of border at low width */
    body{	
        /*background-color: red;*/        
        background-image: linear-gradient(to left, darkred,black,black,black, darkred);
    }
    h1 {
        font-size: 3.2em;
    }
}
/* 1024 */
@media screen and (min-width: 64em){
    h1 {
        font-size: 3.6em;
    }
}

*.centre{
    text-align: center;
}

/*body h1 {
	color: #c00000;
	font-size: 2em;
}*/


h2 {
	color: #c00000;
	font-size: 1.4em;
	margin-top: 50px;
	/*text-decoration: underline;*/
}


h3 {
	color: #c0c0c0;
	font-size: 1.0em;
	margin-top: 30px;
	text-decoration: underline;
}
h4{
	color: #c0c0c0;
	font-size: 0.9em;
	margin-top: 30px;
/* 	text-decoration: underline; */
}

h4.screenshots:hover{
	text-decoration: underline;
	cursor: pointer;
}


li > a:hover{
	color: white;
}
li > span{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

ul.links > li {
    margin-bottom: 10px;
}
ul.links > li > span {
    padding-left: 20px;
    font-weight: normal;
    text-decoration: none;
}

.thumbs p{
    width: 600px;
}
div.contents{	
    /*padding-bottom: 140px;*/
}
div.contents > div{	
    padding-right: 20px;
}
div.contents img {
	/*border: 1px solid black;*/
	width: 100%;
}
    div.contents h2 {
	padding: 5px;
    }
div.contents p {
	color: white;
        padding: 5px;
}
/* 768 */
@media screen and (min-width: 48em){
    div.contents p {
	padding: 0px;
    }
    div.contents h2 {
	padding: 0px;
    }
}
div.contents ul > li {
	list-style-type: none;
}
div.contents ul > li a {
	color: #cc0000;
	font-style: italic;
}

/* body links */
div.contents  p > a {
	color: #cc0000;
	font-style: italic;
}

div.contents > div.pure-u-3-5{
	border-top: 1px solid grey;
	/* padding-bottom: 80px; */
}
/* does not work: https://stackoverflow.com/questions/7298057/css-last-child-selector-select-last-element-of-specific-class-not-last-child-i */
/* div.contents:last-of-type > div.pure-u-3-5{
	padding-bottom: 80px;
} */
#splash{
    background-color: #000;
    margin: 5px;
    margin-right: 8px;
}
#splash  img{
    border: 1px solid white;
}

/* 1.8 ratio 

BUT SEE THIS: https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css

*/
@media screen and (min-width:64em){
        #splash{
/*        width: 1080px;
        height: 600px;*/

    }
}

@media screen and (min-width:48em){
       #splash{
/*        width: 720px;
        height: 400px;*/
        margin: 0px;

    }
}





@media (min-width:1200){
        #splash{
        width: 1080px;
        height: 610px;

    }
}



#footerpadding{
    padding-bottom: 80px;
}

div.screenshots{
    display: none;
}

div.footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    color: grey;
    border-top: 1px solid darkred;
}
div.footer img{
    /*width:100px;*/
    height: 100px;
    float: right
}
div.footer img.centre{
    margin:auto;
}
/* https://stackoverflow.com/questions/4888223/align-image-in-center-and-middle-within-div */
div.imgcentre{
    margin: auto;
    display: flex;
}
div.footer a{
    color: grey;
}
div.footer ul{
    list-style-type: none;
}
a, div.screenshots {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #BB2B87;
}
.coloredlink {
	color: #BB2B87;
}
ul.nav
{
    text-align:right;
}
div.menubar{
	/*border-bottom: 1px solid #840c0c;*/
}
div.menubar ul{
/*	width: 100%;
	padding-inline-start: 0px;*/
}
div.menubar li {
 	padding-left: 35px; 
	padding-top: 0px;
	padding-bottom: 10px;
	/*padding-right: 20px;*/
}
li.hilight {
	font-weight: bold;
}
.inlineimages {
    margin-left:50px;
	display: block;
	height: 233px;
}
.inlineimage {
	float: left;
	text-align: center;
	width: 260px;
	height: 230px;
}
.navbullet
{
    border:0px;
    vertical-align:middle;
    margin-right:5px;
}
#footer{
    padding-bottom: 130px;
}