
Poems: James Kavanaugh<br />
Sadness is but a part of it all<br />
Coming so relentlessly in the morning,<br />
The offscouring of dreams.<br />
	Why do you run?<br />
The birch tree does not run<br />
Stripped of his leaves by the cold winds,<br />
	Waiting silently all winter<br />
	Without complaint<br />
	Standing knee deep in the snow<br />
	Without motion.<br />
He knows the cold will go away<br />
That the sun will warm the grass green<br />
	And give back his leaves<br />
	And lure back his birds.<br />
He knows that only fools are not sad.<br />
<br />
Life has its beginnings<br />
Coming at intervals.<br />
Time to start anew.<br />
None is first or last,<br />
Save birth and death.<br />
Nor can we decide<br />
Which is most significant,<br />
Transforming, or long enduring.<br />
It only matters that<br />
Each beginning, like spring,<br />
Be given its due.<br />
	To nourish the earth for flowers<br />
	To respect sun and rain for fertility<br />
	Not to trample feeble life,<br />
		our own or another's,<br />
Before it is strong enough to bend in the wind<br />

