<br />
<br />
Performed by the Thallein Ensemble in the Adrian Boult Hall, Birmingham, 19th March 1998, conductor Dmitri Kormann, and 
in Canada House, London, March 2000, conductor Steven Lloyd, Speakers Dawn Foxall, Rosa, and Corinne Lang, Narrator.<br />
Programme note by Olivia Ward (1998)<br />
Chechnya is a tiny patch of land in the crossroads of the Caucasus mountains.  For centuries Chechens have been decimated 
by war, but their fierce warrior culture and national pride is never subdued.  These are the people whom Solzhenitsin 
looked on with awe in the Stalinist Gulag, people who never bowed to authority and never gave up.  In 1944 Stalin tried 
to break them through deportation, sending the entire population, along with other Caucasian tribes, to the most brutal 
areas of Cebtral Asia and Siberia where one third perished.<br />
The Chechens returned in the 1960s, and once more put down tenacious roots.  When Russia succeeded the Soviet Union in 
1991, flamboyant leader Dzhokhar Dudayev declared independence, to the great annoyance of Moscow.<br />
For the next three years, Dudayev and President Yeltsin fought a prolonged diplomatic battle for Chchnya.  Enormous new 
prospects for oil and gas development in the Caspian area made Chechnya a transit centre that Russia refused to 
relinquish.<br />
The simmering conflict came to a boil in December 1994.  After bungled attempts to overthrow Dudayev, Yeltsin invaded, 
believing his defence minister’s boast that the war would be over within 24 hours.  Twenty one months later, Chechnya 
was in ruins, its cities atomised as though by atomic bombs, its survivors impoverished, sick and wounded.  But to the amazement of the world, it was victorious.  Russia beat a humiliating retreat.<br />
Today Chechnya is attempting painfully to rebuild, control burgeoning crime and feed and employ its traumatized people.  It has maintained its independence, unrecognised by the international community, which accepts Russia’s sovereignty.  The struggle continues.<br />
Tonights story is of a personal human drama which took place against the background realpolitik outlined above, 
concerning Rosa, a dedicated fighter, who said of her vanished husband “love was never even considered as a possibility”.  But she was amazed to find, in the cultural breakdown of war, that human affection can exist between men and women.  This fact, to European readers unremarkable, had been outside her experience in her highly gender-divided Muslim society.<br />
Sadly, though, her shared dream of a better life after the war was not to be, and the last part of the story depicts 
remembrances of her and the love she had found, only to lose it in death.<br />
This performance is dedicated to the people of Chechnya and their leaders Aslan Maskhadov and Shamil Basayev, 
who have won their independence against the most terrible and astonishing odds.<br />
[2007 NOTE: as is well known, the peace did not last, and the Russians invaded again. See, for example<br />
www.rferl.org/featuresarticle/2004/12/c3c0852f-5e10-4634-b69a-1c47747aa153.html<br />
www.amina.com/article/    by Olivia Ward<br />
And after all the devastation, perhaps inevitably, well funded Muslim extremists moved in from neighbouring states, 
weakening Chechen civil society, what was left of it, offering guns and vehicles in exchange for commitment.  See, 
for example<br />
www.thehistorychannel.co.uk/site/discussion/history_in_focus/chechnya_in_focus.php  ]<br />
Reviews &amp; comments<br />
Coventry Evening Telegraph. Stephen Daw.<br />
… most striking … melodrama, but any association of Jewitt’s sensitive expressions with that over-used term with its 
meaning today is wildly inappropriate.  Maybe… [the] clearly sincere text (not originally intended for music) doesn’t 
quite match the intensity of the beautifully unfolding music, but together with it combines to an overwhelming 
statement of compassion.  Words set by composers like Schubert and Bach become transfigured by the process of being 
adorned with music, and for one of those rare times in my life, I felt that such comparisons are anything but 
ridiculous.<br />
Toronto Star. Mitch Potter.<br />
The dark veil of despair that is Chechnya was pulled back for all to see last night in a musical performance inspired 
by the words of Toronto Star foreign correspondent Olivia Ward.   <br />
A bittersweet symphony to the final note … left a Canada House audience haunted by its tragic tale of freedom 
fighters who find love in the overwhelming presence of death.  Jewitt’s … brooding score … formed a harrowing backdrop 
to the spoken word delivery of Ward’s text by British Actors Corinne Lang and Dawn Foxall.<br />
From Corinne Lang<br />
… I look back to the Chechnya piece as one of the most interesting and stimulating pieces in which I was privileged to 
be involved and thank you sincerely for that memory.<br />
Vivian Ellis Prize Readers comment<br />
A powerful thought provoking epic dramatic score.  [they considered the text too trivial for their (musicals hunting) 
purposes, however.]<br />
Score example {download} Audio sample {link?} <br />

