
Poem: Milton Godfrey<br />
Come with me where <br />
The blue sea lashes<br />
The shore and palm trees<br />
Bow to the sun; <br />
Where children laugh<br />
And play in warmth<br />
And the sky masquerade<br />
As if hurricanes were<br />
Things of the past.<br />
Come with me where<br />
Brightly coloured clothes <br />
And smiling faces,<br />
Butterflies, and things,<br />
Are painted against <br />
A skyline with rainbows<br />
In the distance, costumed<br />
For the occasion.<br />
Come with me.<br />
Come with me where <br />
Fireflies glow at night,<br />
Birds and insects send<br />
Signals; where moonbeams<br />
Add mystique to the night,<br />
And sounds are suppressed<br />
By occasional silence.<br />
Come with me where<br />
Distant clouds form<br />
On a humid day, from<br />
Countless waves breaking<br />
The surface of the sea,<br />
Churning, rippling, until<br />
Disappearing on the <br />
Shoreline.<br />
Come with me where<br />
The sun, so near,<br />
It seems, can be touched.<br />
And one is touched<br />
By a fading moon that<br />
Demands attention while<br />
It waits for the return<br />
Of the sun.<br />

