
Poem: Marion Griffin<br />
He would send me running<br />
Up grassy banks<br />
Ahead of him.<br />
If I had taken a tumble<br />
He would have been there<br />
To break my fall<br />
To kiss my grazes.<br />
And so I ran<br />
Made the top<br />
Laughed and panted<br />
While he<br />
Took the last stride<br />
To join me<br />
And take my hand again.<br />

