<br />
Written for the Orlando Consort, by courtesy of the Society for the Promotion of New Music. Performed by the 
Orlandos at Dartington, Aug. 2002, and the choral version by Kingfisher Chorale, Leicester, Oct. 2003.  Quartet 
version broadcast on BBC Radio3, Nov. 2002.<br />
The poem: the composer<br />
Uriel, Uriel, Uriel, Fire of God,<br />
Aid us at our waking and at our rising up:<br />
Fill us with your fire that we may face our day<br />
And live our lives, Uriel.<br />
Gabriel, O messenger, O man of God,<br />
Flow through us at the noontide<br />
That we may feel, and hope.<br />
Ah, Gabriel,<br />
As you protect all sleeping babes<br />
Nurture with your loving care<br />
Our unawakened selves, O Gabriel, Gabriel.	<br />
Angel of the spirit of Man, namèd 'God heals',<br />
Mediate at our eventides (Raphael, Raphael)<br />
Resting from our journey.<br />
Raphael, help us as we strive <br />
To weigh up day and night,<br />
To balance all our lives.<br />
O Raphael, breathe into us, <br />
O Raphael, the healing breath of God.<br />
Míchäel, Míchäel,<br />
Leader of the Heavenly hosts, <br />
Guardian of the faithful,<br />
Be with us at our sleeping.<br />
Míchäel, in this your era, grant us dreams <br />
That we may wake to use our thoughts<br />
With wisdom and with care,<br />
In harmony with all humanity.	<br />
Archangels, Archangels,<br />
With all your angel hosts,<br />
Your healing work through us<br />
That we may dedicate our lives in this sad world,<br />
To healing hates and fears.<br />
Archangels.<br />
Personal communications from listeners to the quartet version<br />
The music is evocative and haunting.  The sounds recalled me to a symphony of souls I heard while in an altered state—the sounds of innumerable souls expressing the inexpressible—yearning, awe and mystery, and the separation that seeks union.  Shulamit Elson, author of Kabbalah of Prayer: sacred sounds and the soul’s journey.<br />
I chanced (?) to switch on the radio this morning whilst preparing lunch and at once found myself listening utterly spellbound to something profoundly beautiful.  … this hauntingly beautiful mysterious sound with the moving text as a powerful ‘undercurrent’.  Acquaintance Sue Thoma.<br />
Score example {download} Audio sample {link?}<br />

