
Poem: bell hooks<br />
i want to go down<br />
once more to the river<br />
hear them black angels<br />
sing hosanna<br />
see those bodies go down<br />
hear them hallelujah cries<br />
amen and thank you jesus<br />
i want to go down<br />
into the dark and muddy water<br />
hear them voices<br />
moaning low praying sounds<br />
to suffer surrender be free<br />
to suffer surrender be free<br />
to suffer surrender be free<br />
to suffer surrender be free<br />
i want to go down<br />

