
Poem: Christina Edwards<br />
Golden Moon of Plenty<br />
Hark the Earth's lament<br />
Weeping for the Harvest Bride's<br />
Ecstatic Sacrament<br />
Burnished Moon of Blood<br />
Hark the Hunter cries…<br />
I come, my Lord, adorned<br />
For bliss and Sacrifice.<br />
Midwinter Moon of Ice,<br />
Beneath thy deathly shine<br />
Dance I with my Lord of Night<br />
In union sublime.<br />

