
Poem: the composer<br />
Enfolded time is<br />
At the moment of embrace:<br />
So ageless both be.<br />
Unending time is<br />
At the facing of yourself:<br />
So agéd all be.<br />
Unheeded time is<br />
At the last calm acceptance:<br />
Enough just to be.<br />

