
PhD submission composition, an extended song cycle evocative of an imaginary human life, using eight poems by 
various modern poets structured around a post-Jungian model of feminine and masculine flows in the psyche developed 
by the Californian analytical psychologist Gareth Hill.  The model is discussed in Chapter 4 of my dissertation.  
Performance planned for 2009. {link to S3.1.4}
Comments on the score
From Jonathan Harvey
It's a powerful piece, I would love to hear it. It's an interesting form, balancing tensions and speeds convincingly, even without your psycho-spiral narrative! But as a marriage of music and textual journey it must be quite an experience. 
I was impressed by the economy and directness of the writing. In many movements (8 &amp; 9 for instance) the repetitions take on a strong musico–ritualistic expression—which is different from the merely ritualistic, which does not invoke any depth within the purely musical domain. I liked this very much. These repetitions are never tiresome, on the contrary, they arouse interest in the large span, and the movements are all quite terse without being mean; they have some generosity of expansion as well.  The canonic stuff also strikes me as very beautifully calculated. 
Some things are perhaps overdone.  But such faults—if that's what they are—are not common, I think, and the simplicity of writing is allied to an inventiveness of imagination in the concept of the 'sound object'  - by which I mean the distinctive overall quality of the song's dominant material. Where this is created with a powerful imagination, one forgets the carpings ...
From Diana Burrell
This is a rich, colourful work, brimfull of life and energy! A project which has occupied its composer's thoughts to a greater or lesser degree for the last 20 years or so, it goes right to the heart of creation, celebrating humankind's place in the cosmos and illuminating the masculine and feminine within each of us.
Out of the many scores I've looked at over the last couple of years, here is one I'd really like to hear, for in an age addicted to irony and superficiality, this is a strong, generous piece of music which truly deserves a performance. I so hope this is achieved.
The poems, ordered by work section number
3. Walt Whitman:  The last invocation<br />
At the last, tenderly,<br />
From the walls of the powerful fortress'd house,<br />
From the clasp of the knitted locks, from the keep of the well closed doors,<br />
Let me be wafted.<br />
Let me glide noiselessly forth;<br />
With the key of softness unlock the locks—with a whisper,<br />
Set ope the doors O soul.<br />
Tenderly—be not impatient<br />
(Strong is your hold O mortal flesh,<br />
Strong is your hold O love).	<br />
4. Richard Eberhart:  Rumination<br />
When I can hold a stone within my hand<br />
And feel time make it sand and soil, and see<br />
The roots of living things grow in this land,<br />
Pushing between my fingers flower and tree,<br />
Then I shall be as wise as death,<br />
For death has done this and he will<br />
Do this to me, and blow his breath<br />
To fire my clay, when I am still.<br />
7.  Charles Wright:  Skins 20 (first part)<br />
You've talked to the sun and moon,<br />
Those idols of stitched skin, bunch grass and twigs<br />
Stuck on their poles in the fall rain;<br />
You've prayed to Sweet Medicine;<br />
You've looked at the Hanging Road, its stars<br />
The stepstones and river bed where you hope to cross;<br />
You've followed the cricket's horn<br />
To sidestep the Lake of Pain . . . . . . . .<br />
8. bell hooks:  The body inside the soul<br />
i am listening to your footsteps death<br />
i am waiting here<br />
with my young hammer<br />
here with my little knife<br />
i shall pound your fingers <br />
as you open the door <br />
i shall grind them like corn<br /> 
i shall make bread <br />
i shall sing a praise song<br /> 
a song my mother taught me <br />
the earth it is round <br />
there is no edge <br />
there is no way to fall off.<br />
<br /><br />
9. Connie Bensley:  Shopper<br />
I am spending my way out <br />
of a depression.  The road chokes<br /> 
on delivery vans. <br />
I used to be Just Looking Round, <br />
I used to be How Much, and <br />
Have You Got it in Beige.<br />
Now I devour whole stores - <br />
high speed spin; giant size; chunky gold;<br /> 
de luxe springing. Things. <br />
I drag them round me into a stockade.<br /> 
It is dark inside; but my credit cards <br />
are incandescent.<br />
10. Charles Wright:  Skins 20 (second part)<br /> 
. . . . .  And what does it come to, Pilgrim, <br />
This walking to and fro on the earth, knowing <br />
That nothing changes, or everything: <br />
And only, to tell it, these sad marks, <br />
Phrases half-parsed, ellipses and scratches across the dirt?<br /> 
It comes to a point.  It comes and it goes.<br />
12.  Clement Jewitt:  The Night Sea Crossing<br />
Plunged with the Sun-god, beneath the western sea;<br />
Stretched by the Sky-god, illimitably far;<br />
Frighted by the Fecund Hag, fooled by the Pooka.<br />
	Drowning  -  O ache of loss!<br />
	Wafting  -  O forgetting!<br />
	Drifting  -  stardust, scatterings, flotsam.<br />
O remember me<br />
Re-member me<br />
Re-member me<br />
Who  now  I  am.<br />
<br /><br />
13.  Mark Strand:  The Coming of Light<br />
Even this late it happens: <br />
the coming of love, the coming of light.<br /> 
You wake and the candles are lit as if by themselves,<br /> 
stars gather, dreams pour into your pillows, <br />
sending up warm bouquets of air. <br />
Even this late the bones of the body shine<br /> 
and tomorrow's dust flares into breath.<br />
<br /><br />
14.  e.e. cummings:  i thank You God<br />
i thank You God for most this amazing <br />
day: for the leaping greenly spirits of trees<br /> 
and a blue true dream of sky; and for everything <br />
which is natural which is infinite which is yes<br />
(i who have died am alive again today, <br />
and this is the sun's birthday; this is the birth<br /> 
day of life and of love and wings: and of the gay <br />
great happening illimitably earth)<br />
how should tasting touching hearing seeing<br /> 
breathing any - lifted from the no <br />
of all nothing - human merely being <br />
doubt unimaginable You?<br />
(now the ears of my ears awake and<br /> 
now the eyes of my eyes are opened)<br />
<br />
Score examples {download} Audio sample {link?}

