<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{CMS_PAGETITLE}</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <script type="text/javascript" src="/ccms/editor/script/edit.js"></script>
    <meta name="keywords"       content="{CMS_KEYWORDS}" />
    <meta name="description"    content="{CMS_DESCRIPTION}" />
    <meta name="author"         content="{CMS_AUTHOR}" />
  </head>
  <body>
  {CMS_EDITLINK}
    <table class="bodytable">
      
      <tr>
        <td class="col">
          <div class="box">
            <div class="boxheading">Navigation</div>
            <div class="boxcontent">
                <ul>
                    <li>{CMS_HOMELINK}</li>
            {CMS_RHNAV}
                </ul>
            </div>
          </div>
         <div class="box">
            <div class="boxheading">{CMS_CONTENT1}</div>
            <div class="boxcontent">{CMS_CONTENT2}</div>
          </div>
          <div class="box">
            <div class="boxheading">{CMS_CONTENT3}</div>
            <div class="boxcontent">{CMS_CONTENT4}</div>
          </div>
        </td>
        
        <!-- main content cell -->
        <td class="content_cell">
        <div class="box">
            <div class="boxheading">{CMS_PAGETITLE}</div>
            <div class="boxcontent">{CMS_CONTENT5}</div>
          </div>
        </td>
        <!-- end main content cell -->
        
        <td class="col">
          <div class="box">
            <div class="boxheading">{CMS_LHNAV_TITLE}</div>
            <div class="boxcontent">{CMS_LHNAV}</div>
          </div>
          <div class="box">
            <div class="boxheading">{CMS_CONTENT6}</div>
            <div class="boxcontent">{CMS_CONTENT7}</div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>

