<li><a href="/metal/" title="Metal up yer arse!">Metal!</a></li>
<li><a href="/quake/" title="Quake etc.">QUAKE!</a></li>
<li><a href="/dev/" title="Coding and dev stuff">Coding stuff</a></li>
<li><a href="/reddwarf/" title="of course...">Red Dwarf</a></li>
