<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{CMS_PAGETITLE}</title>
        <meta content="{CMS_KEYWORDS}" name="keywords" />
        <meta content="{CMS_DESCRIPTION}" name="description" />
        <meta name="author"         content="{CMS_AUTHOR}" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link href="/styles/rickpopup.css" rel="stylesheet" type="text/css" />
        <script language="javascript" src="/script/rickpopupscripts.js" type="text/javascript"></script>
        <script type="text/javascript" src="/ccms/editor/script/edit.js"></script>
    </head>
    <body>
        {CMS_EDITLINK}
        <form name="frmData" method="post" action="processmail.pl">
            <div class="form_header">
                <div style="float:right;"> * Fields are required</div>
                <h1>{CMS_LINKTEXT}</h1>
            </div>
            <div id="form_wrapper">
                <div class="form_field1">
                    <span class="field_title">*Name:</span>
                    <span class="field"><input name="name" size="30" /></span>
                </div>
                <div class="form_field2">
                    <span class="field_title">*Telephone:</span>
                    <span class="field"><input name="phone" size="30" /></span>
                </div>
                <div class="form_field1">
                    <span class="field_title">*Email:</span> 
                    <span class="field"><input name="email" size="30" /></span>
                </div>
                <div class="form_field2">
                    <span class="field_title">Address:</span>
                    <span class="field"><textarea name="address" cols="50" rows="5" id="textarea"></textarea></span>
                </div>
                <div class="form_field1">
                    <span class="field_title">Post Code:</span>
                    <span class="field"><input name="postcode" size="30" /></span>
                </div>
                <div class="form_field2">
                    <div class="section_title">Type of Enquiry:</div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Architects" />&nbsp;Architects
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Interior Design &amp; Decorating" />&nbsp;Interior Design &amp; Decorating
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Bathrooms" />&nbsp;Bathrooms 
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Kitchens" />&nbsp;Kitchens
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Carpentry" />&nbsp;Carpentry 
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Loft Conversions" />&nbsp;Loft Conversions
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Complete Refurbishments" />&nbsp;Complete Refurbishments
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Plumbing" />&nbsp;Plumbing
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Electrical & Lighting" />&nbsp;Electrical &amp; Lighting
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Planning Permission" />&nbsp;Planning Permission
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="Extensions & Conversions" />&nbsp;Extensions &amp; Conversions
                        </div>
                        <div class="chbx_right">
                            <input type="checkbox" name="subject" value="Roofing" />&nbsp;Roofing
                        </div>
                    </div>
                    <div>
                        <div class="chbx_left">
                            <input type="checkbox" name="subject" value="General Building Services" />&nbsp;General Building Services
                        </div>
                        <div class="chbx_right">&nbsp;</div>
                    </div>
                </div>
                <div class="form_field1">
                    <span class="field_title">Comments:</span>
                    <textarea name="message" cols="50" rows="5" id="notes"></textarea>
                </div>
                <div class="form_field2">
                    <input name="Submit1" type="button" value="Submit" onclick="return chkField()" />&nbsp;
                    <input type="reset" value="Reset" name="Reset" />
                </div>
            </div>
        </form>
    </body>
</html>
