Performed, Birmingham, Adrian Boult Hall, 8th December 2001.  Zephyr Winds (Rachel Holt, flute; Ruth Davies, cor 
anglais; Chris Swann, clarinet/director; Helen Peller, bassoon; David Garbutt, horn).<br />
Programme note by the composer<br />
Five sit down to explore ways of being together.  They go through various processes: speaking as if with one voice; 
finding common speech patterns; speaking in an ordered sequential fashion—but rebounding from such disciplines, and 
trying again to achieve community in different ways, until the harmonious solution appears.  Together they sing the 
same song, calmly, each with his/her own individual voice contributing to the whole.<br />
And so the music ends, or is the above expressive of the processes we all go through, engaging with the social/communal 
aspects of our lives?  Both, either, or neither.  You choose.  The work was composed purely musically: the metaphor came 
later, seemingly expounding the musical processes.<br />
The title is from Wordsworth’s poem ‘Expostulation and Reply’, which came to my notice as I was working on the closing 
passages.  In essence it is about the contrast between focussing willpower in the search for knowledge, and waiting 
in openness and stillness for knowledge to come to you.  This seemed to echo the processes of composition:<br />
Nor less I deem that there are powers<br />
Which of themselves our minds impress;<br />
That we can feed this mind of ours<br />
In a wise passiveness.<br />
Think you, ‘mid all this mighty sum<br />
Of things for ever speaking,<br />
That nothing of itself will come,<br />
But we must still be seeking?<br />
Review in Tempo No.220, April 2002, p.40, by Raymond Head<br />
Birmingham Chamber Music Society has been going for over 50 years and during that time has given many first 
performances and commissioned several notable works.  Recently, it has also awarded prizes to works which were felt 
to be of special interest.  The 2001 Birmingham Chamber Music Prize (sponsored by Druckers Patisserie) went to the 
composer Clement Jewitt, formerly of Oxfordshire, but now a resident of Birmingham.    <br />
One might be forgiven for thinking that a new wind quintet in a programme that also included works for the medium 
by Hindemith, Ligeti, Nielsen and Janácek would be lost, but it says a lot for Jewitt’s piece that this was not 
the case.  Working in a post-serial idiom, without a trace of Post-Modernism, he has written an undeniably effective 
work.  How refreshing not to have another chirpy British quintet, full of jaunty tunes and perky rhythms of the kind 
that once we were so plagued by!  Not that this is a Zeitmasze either.  In a programme note, the composer has 
suggested that in his piece various forms of community are put forward and musically discussed: sometimes there 
are arguments, sometimes players move away from the group to ponder their musical fate, as it were.  At other times 
they move around in two or threes, always pushing the scalic modes and rhythms to further extremes.  So from simple 
beginnings the language is modified and expanded, often very lyrically but also contrapuntally, to take account 
of the new dialectics that are being formed.  In the end ‘they sing the same song, calmly, each with his/her own 
individual voice contributing to the whole’.  <br />
The work was well played by Zephyr Winds who also gave effective performances of the core repertoire works in the 
rest of the programme.<br />
Score example {download} Audio sample {link?}<br />
<br />
