Winner of Woodwind Composition Prize, Birmingham Conservatoire.  Performed, Adrian Boult Hall, Birmingham, May 1996, 
conductor Steven Lloyd, and at the Guildhall School, London, May 1998, conductor Graham Sheen.<br />
Programme note by the composer<br />
This piece was written over the Christmas vacation 1995/6.  My initial reaction to the idea of twelve bassoons was 
hilarity, but as I settled into the work odd ideas began to appear on the page in front of me, not at all hilarious. 
My unconscious was dropping clues: the title came to me out of the blue, and it felt right, though I couldn’t say why;
 a line from The Waste Land occurred spontaneously, and that felt right, too (why?); and a small musical quotation, 
 unbidden and at first unrecognised, became a pervasive part of the piece.<br />
Finally illumination came, with some force, and so I removed material which had been put in by my ego, and was able 
to finish the work in the manner unconsciously intended.<br />
The dedication is to my mother, who died early in the new year ten years ago, and to the mother of my children, who 
died at Christmas time six years ago.  Both suffered long illnesses at the end of troubled lives.  On the last page 
of the score I wrote the line from The Waste Land: ‘Good night, ladies, good night, sweet ladies, good night, good 
night.’<br />
Sometimes we are chosen by events.<br />
The music itself is susceptible to psychological interpretation.  The background endless canons represent the 
unconscious, against which players come forward to present varying material representing the attempts by our 
conscious selves to engage with life.  In the second half of the piece (the second half of life) the two contrasted 
processes begin to move towards each other: the unconscious becomes conscious and the purpose of life is fulfilled.<br />
Review<br />
…  Lloyd also directed twelve student bassoonists in the premiere of Clement Jewitt’s Knit up the ravell’d sleeve of 
care,  substantial and darkly atmospheric as various combinations emerge both physically and musically from the pools 
of the unconscious mind.  Christopher Morley, Birmingham Post.<br />
