/* CSS Document */
body
{
    /* font-family:arial,sans-serif; */
}
/* stuff for section template style differences */
body.content1
{
    background-color:#808080;
}
body.content2
{
    background-color:#C0FFFF;
}
body.content3
{
    background-color:#80FFFF;
}
body.content4
{
    background-color:##C0C0C0;
}
body.content5
{
    background-color:##C0C0FF;
}
body.content6
{
    background-color:#8080FF;
}
body.content7
{
    background-color:#FFC0FF;
}
body.content8
{
    background-color:#FFFFC0;
}
body.content9
{
    background-color:#808080;
}
a
{
    text-decoration:none;
    color:#A31E39;
}
a:hover
{
    text-decoration:underline;
}

/* set lists to default */
ul
{
    margin:0px;
    padding:0px;
}

li
{
    margin:0px;
    padding:0px;
}

/* reset content list to standard indented */
#content ul
{
    margin:20px;
    padding:0px;
}

/* topnav */
ul#topnav li
{
    display:inline;
    border:0px solid black;
    background-color:#8c9c9a;
    padding:5px;
    margin:0px;
}

ul#topnav li.on
{
    background-color:#9db2b1;
    font-weight:bold;
    text-decoration:underline;
    color:#A31E39;
}

/* LH col */
#lhcol
{
    width:170px;
    height:100%;
}

/* left nav, level 1 */
ul#lhnav
{
    background-color:#9db2b1;
    list-style:none;
    padding-left:0px;
    
    /* width:170px; */
}
ul#lhnav li
{
    padding-bottom:3px;
}
ul#lhnav li.on
{
    background-color:#bfcfcc;
    padding-bottom:0px;
}

/* left nav, level 2 */
ul#l3nav
{
    list-style:none;
    font-size:0.9em;
    
}

ul#l3nav li
{
    padding-left:10px;
    background-color:#D6E4E1;
    padding-bottom:3px;
}
ul#l3nav li.on
{
    /* list-style-type:circle; */
    background-color:#D6E4E1;
    text-decoration:underline;
    padding-bottom:3px;
}

/* left nav, level 3 */
ul#l4nav
{
    list-style:none;
    font-size:0.9em;
    
}

ul#l4nav li
{
    padding-left:15px;
    background-color:#D6E4E1;
    text-decoration:none;
    padding-bottom:3px;
}
ul#l4nav li.on
{
    /* list-style-type:circle; */
    background-color:#D6E4E1;
    text-decoration:underline;
    padding-bottom:3px;
}






#content
{
    height:100%;
    padding:5px;
}
/*
#content h1
{
    font-size:1.3em;
}

#content h2
{
    font-size:1.2em;
}

#content h3
{
    font-size:1.1em;
}
*/
