<h2><a href="/scores/instrumental/cj.pl" title="Contemplating Jupiter">Contemplating Jupiter</a></h2>
<p>2007 &amp; 2001, for chamber orchestra: duration 10’.</p>

<h2>Be Calm, Move Gently</h2>
2006, for string quartet; duration c.8’.<br />

<h2>&quot;But we must still be seeking?&quot;</h2>
<p>2001.  Wind quintet, duration 15’.</p>
<p>Winner of Birmingham Chamber Music Society prize.</p>
<ul>
    <li><a href="/downloads/butwemuststill.pdf" title="Score examples" rel="external">Score examples</a></li>
    <li><a href="/downloads/butwe_sample.mp3" title="Audio samples" rel="external">Audio samples</a></li>
</ul>

<h2><a href="/scores/instrumental/kutrsoc.pl">Knit Up the Ravell’d Sleeve of Care</a></h2>
<p>1995-6.  11 bassoons, 1 contra-bassoon.  Duration c.15’.</p>


