<h2><a href="/scores/vocal/thb.pl" title="The Harvest Bride">The Harvest Bride</a></h2>
<p>
    (Christina Edwards) 2007, for soprano and piano; duration c3’.
</p>

<h2>Save now we pray</h2>
<p>
    (bell hooks) 2007, for soprano and piano; duration c.2’
</p>

<h2>Three Hokku on Time</h2>
<p>
    (composer’s text) 2007, for soprano and piano; duration c.5-6’.
</p>

<h2>He Would Send Me Running</h2>
<p>
    (Marion griffin) 2007.  Excerpted and arranged for soprano and piano from And Not 
    Another Man; duration c.2’.
</p>

<h2>Come With Me</h2>
<p>
    (Milton Godfrey) 2007.  Arranged for soprano and piano from the original choral version; 
    duration c.4’.
</p>

<h2>But a Part of it All</h2>
<p>
    (James Kavanaugh) 2007.  Arranged for soprano and piano from an earlier version with string 
    trio; duration c.9’.
</p>

<h2>The Night Sea: transitions and recurrences</h2>
<p>
    (Walt Whitman, Richard Eberhart, Charles Wright, bell hooks, 
    Connie Bensley, the composer, Mark Strand &amp; e.e.cummings) 2003-5, for solo female vocalist, male voice choir and 
    19 instrumentalists; duration c.50’.
</p>   
<ul>
    <li><a href="/downloads/lastinvocationsample.pdf" title="Score examples" rel="external">Score examples</a></li>
    <li><a href="/downloads/lastinvocationsample.mp3" title="Audio samples" rel="external">Audio samples</a></li>
</ul>

<h2>Invocations to Archangels</h2>
<p>
    (composer’s text) 2002..  Counter-tenor, 2 tenors, baritone   Duration c.8’.  
    Choral version, SATB, 2003.  About this work [link] Score examples [download] Audio samples [download]
</p>

<h2>Chechnya Story</h2>
<p>
    (after a text by Olivia Ward, award winning reporter for the Toronto Star) 1997.   2 narrators, 
    trombone, 2 percussion, strings 4 2 2 1; duration 32’.
</p>
<ul>
    <li><a href="" title="Score examples" rel="external">Score examples</a></li>
    <li><a href="" title="Audio samples" rel="external">Audio samples</a></li>
</ul>

