<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script src="/scripts/scripts.js" type="text/javascript"></script>
    
    <title>{CMS_TITLE}</title>
</head>
<body class="content1">
<table border="1">
    <tr>
        <td style="width:120px;" ><a href="/index.pl">LOGO</a></td>
        <td class="topnav">{CMS_TOPNAV}</td>
    </tr>
    <tr>
        <td valign="top">
        <div id="lhcol">{CMS_LHNAV}</div></td>
        <td valign="top">
        
        <div id="content">
        <h1>{CMS_TITLE}</h1>
        <!-- render content template here -->
        {CMS_CONTENT}
        <!-- end -->
        
        </div>
        
        </td>
    </tr>
</table>
</body>
</html>
