Most drawings and sketches copied were done around 1960, many in the Canterbury area, 
elsewhere in England  and some on a trip to Rome. The onset of a family marked the stop of this activity, 
but by that time I was learning musical instruments, 
easier to fit in to domestic life.
