body{font-family: verdana,arial;background-color:#ccc;margin:0px;padding:0px;}
.bodytable{width:100%;padding:0px;margin:0px;border:none;}
.col{width:20%;vertical-align:top;}
.content_cell{vertical-align:top;}
.box{background-color:#fff;border: 1px solid black;margin:0px;margin-bottom:4px;padding:0px;width:99%;}
.boxheading{font-weight:bold;color:#fff;background-color:#000;text-align:center;padding:2px;}
.boxcontent{width:100%;padding:2px;font-size:0.8em;}
